body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.header {
    display:flex;
    background-color: rgb(69, 209, 38);
    height: 140px;
    width: 100vw;
    align-items: center;
    overflow: visible;
}




.rama {
    margin-right:0;
    height: 100%;
}

.logo {
    height: 100%; 
    width: 160px;
}

.navbar {
    margin: auto;
}

.navbar-list{
    list-style-type: none ;
    display: flex;
    align-items: center;
}



.navbar-list a:hover {
    box-shadow: 0 8px 12px rgb(57, 192, 0);
    justify-content: center;
}

.navbar a i{
    margin-right: 8px;
    color: rgb(255, 255, 255);
    font-size:clamp(10px,3vw,60px);
}

.navbar-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin:2vw;
    padding: 12px;
    border-radius: 50px;
    font-size:clamp(10px,2vw,60px);
}
.header li {
    list-style-type: none;
}


#deschide-sidebar{
    margin-right: 4vw;
    color:rgb(255, 255, 255);
    list-style-type: none;
    font-size:clamp(30px,5vw,50px);
    padding: 10px;
    border: 2px solid;
}

#inchide-sidebar {
    font-size:clamp(30px,5vw,50px);
}

.sidebar {
    padding:20px;
    margin-top: 0;
    list-style-type: none ;
    display: flex;
    position:fixed;
    top:0;
    right:-100%;
    height: 100vh;
    width: 40vw;
    z-index:999;
    background-color: rgba(0, 0, 0, 0.550);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    gap:36px;
    transition: right 500ms linear;
    transition-delay: 120ms;
}

#inchide-sidebar.rotate {
    animation: 500ms invarte alternate;
}

@keyframes invarte {
    100%{
        rotate:360deg;
    }
}

.sidebar.open {
    right: 0; 
}



.sidebar li {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 25px rgb(170, 170, 170);
    border: 1px solid white;
    background-color: rgba(209, 209, 209, 0.433);
    width: calc(100% + 29px);
    height:50px;
}


.sidebar li a {
    color: white;
    text-decoration: none;
    font-size: 24px;

}

.sidebar a i{
    margin-right: 8px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}




@media (max-width:949px) {
    .HideOnMobile{
        display: none;
    }
}

@media (min-width:950px) {
    #deschide-sidebar {
        display: none;
    }
}



@media (min-width:500px) {
    .sidebar li a {
        width: 100%;
        height: 100%;
        text-align: center;
        align-content: center;
    }
}

.main-content {
    transition: filter 450ms linear;
}

.main-content.blur {
    filter: blur(10px);
}


@media only screen and (max-width: 650px) {
    .header {
        height: 100px;
    }
    .logo {
        width: 120px;
    }
}


/* aici se termina header-ul */


.sub-body {
    /*background: linear-gradient(135deg, #ff4e50 0%, #f9d423 100%);*/
    background-color:#F5F5DC;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100vw;
    height: 100vh;
}





@media (max-width: 600px) {
    .container1 {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        gap: 30px;
    }
    .container2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
.container1 {
    display: flex;
    gap: 40px;
}
.container2 {
    display: flex;
    gap: 40px;
}


@media (max-width:600px) {
    .sub-body {
        height: 100%;
    }
    .container-meniuri {
        margin-top: 24px;
    }
    .container-sucuri {
        margin-bottom: 24px;
    }
    }


.pagina-produse {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.container-meniuri {
    align-items: center;
    position:relative;
    height:clamp(250px,22vw,400px);
    width:clamp(250px,22vw,400px);
    border-radius: 50px;
}

.Meniuri {
    color: rgb(0, 0, 0);
    font-size: 3.5em;
    position: absolute;
    font-weight: bold;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.6s ease-in-out;
}

.strips {
    object-fit: cover;
    height: 100%;
    width:100%;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;

}
.shaorma {
    object-fit: cover;
    height: 100%;
    width:100%;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}
.pizza {
    height: 100%;
    width:100%;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}
.sucuri {
    height: 100%;
    width:100%;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}

.container-meniuri:hover img {
    opacity: 0.9;
    transform: scale(1.1); 
    transition: all 0.5s ease-in-out;
}

.container-meniuri:hover .Meniuri {
    opacity: 1;
    transition: all 0.7s ease-in-out;
    position: absolute;
    font-weight: bold;

    
}

.container-shaorma {
    height:clamp(250px,22vw,400px);
    width:clamp(250px,22vw,400px);
    align-items: center;
    position:relative;
    border-radius: 50px;
}

.shaorma {
    object-fit: cover;
    width:100%;
    height: 100%;
}

.Shaorma {
    color: rgb(0, 0, 0);
    font-size: 3.5em;
    position: absolute;
    font-weight: bold;
    opacity: 0;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    transition: all 0.6s ease-in-out;
}

.container-shaorma:hover img {
    opacity: 0.9;
    transform: scale(1.1); 
    transition: all 0.5s ease-in-out;
}

.container-shaorma:hover .Shaorma {
    opacity: 1;
    transition: all 0.7s ease-in-out;
    position: absolute;
    font-weight: bold;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container-pizza {
    align-items: center;
    position:relative;
    height:clamp(250px,22vw,400px);
    width:clamp(250px,22vw,400px);
    border-radius: 50px;
}

.pizza {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Pizza {
    color: rgb(0, 0, 0);
    font-size: 3.5em;
    position: absolute;
    font-weight: bold;
    opacity: 0;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    transition: all 0.6s ease-in-out;
}

.container-pizza:hover img {
    opacity: 0.9;
    transform: scale(1.1); 
    transition: all 0.5s ease-in-out;
}

.container-pizza:hover .Pizza {
    opacity: 1;
    transition: all 0.7s ease-in-out;
    position: absolute;
    font-weight: bold;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container-sucuri {
    margin-right: 14px;
    align-items: center;
    position:relative;
    height:clamp(250px,22vw,400px);
    width:clamp(250px,22vw,400px);
    border-radius: 50px;
    transition: all 1s ease-in-out;
}

@media (max-width:600px) {
    .container-sucuri {
        margin-bottom: 50px;
    }
}

.sucuri {
    height: 100%;
    width: 100%;
}

.Sucuri {
    color: rgb(0, 0, 0);
    font-size: 3.5em;
    position: absolute;
    font-weight: bold;
    opacity: 0;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    transition: all 0.6s ease-in-out;
}

.container-sucuri:hover img {
    opacity: 0.9;
    transform: scale(1.1); 
    transition: all 0.5s ease-in-out;
}

.container-sucuri:hover .Sucuri {
    opacity: 1;
    transition: all 0.7s ease-in-out;
    position: absolute;
    font-weight: bold;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width:600px) {
    .Meniuri {
        opacity: 1;
        font-size: 42px;
    }
    .Pizza  {
        opacity: 1;
        font-size: 42px;
    }
    .Shaorma  {
        opacity: 1;
        font-size: 42px;
    }
    .Sucuri  {
        opacity: 1;
        font-size: 42px;
    }

}


/*sectiunea de footer*/

.footer {
    width: 100vw;
    padding-top: 10px;
    height:fit-content;
    background-color: black;
    color: white;
}

.follow{
    font-size: clamp(20px, 5vw,40px);
    margin-left: 15px;
    text-align:left;
    width: fit-content;
}

.icons {
    display: flex;
    gap: 20px;
    justify-content: left;
    margin-top: 10px;
    margin-top: 16px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 0px;
    margin-right: 10px;
}

.footer img {
    width:clamp(40px,5vw,60px);
}

.autor {
    margin-top: 42px;
    font-size:clamp(20px,4vw,30px);
    text-align: center;
    padding-bottom: 10px;
}

