body {
    background-color: red;
}
.header {
    display:flex;
    background-color: rgb(69, 209, 38);
    height: 140px;
    width: 100vw;
    align-items: center;
    overflow: visible;
}

.rama {
    margin-right:0;
    height: 100%;
}

.logo {
    height: 100%; 
    width: 160px;
}

.navbar {
    margin: auto;
}

.navbar-list{
    list-style-type: none ;
    display: flex;
    align-items: center;
}



.navbar-list a:hover {
    box-shadow: 0 8px 12px rgb(57, 192, 0);
    justify-content: center;
}

.navbar-list a i{
    margin-right: 8px;
    color: rgb(255, 255, 255);
    font-size:clamp(10px,3vw,60px);
}

.navbar-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin:2vw;
    padding: 12px;
    border-radius: 50px;
    font-size:clamp(10px,2vw,60px);
}

.header li {
    list-style-type: none;
}

#deschide-sidebar{
    margin-right: 20px;
    color:rgb(255, 255, 255);
    list-style-type: none;
    font-size: 40px;
    padding: 10px;
    border: 2px solid;
}

.sidebar {
    padding:20px;
    list-style-type: none ;
    display: flex;
    position:fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 250px;
    z-index:999;
    background-color: rgba(255, 255, 255, 0.225);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    gap:36px;
}
.sidebar li {
    box-shadow: 0 0 5px rgb(255, 255, 255);
    width: calc(100% + 29px);
    height:50px;
    align-content: center;
    text-align: center;
}

.sidebar li a {
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 30px;

}

.sidebar a i{
    margin-right: 8px;
    color: rgb(255, 255, 255);
}

#inchide-sidebar {
    font-size: 50px;
}

/*
.sidebar li:hover {
    box-shadow: 0 0 30px rgb(255, 255, 255);
}*/
/*
.sidebar li i {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin:2vw;
    border-radius: 50px;
    font-size:clamp(10px,2vw,60px);
    width: 100%;
}
*/


@media (max-width:949px) {
    .HideOnMobile{
        display: none;
    }
}

/* aici se termina header-ul */