html {
    overflow-x: hidden;
}

body {
    margin: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}



.header {
    display:flex;
    background-color: rgb(69, 209, 38);
    height: 140px;
    width: 100vw;
    align-items: center;
    overflow: visible;
}

.rama {
    margin-right:0;
    height: 100%;
}

.logo {
    height: 100%; 
    width: 160px;
}

.navbar {
    margin: auto;
}

.navbar-list{
    list-style-type: none ;
    display: flex;
    align-items: center;
}



.navbar-list a:hover {
    box-shadow: 0 8px 12px rgb(57, 192, 0);
    justify-content: center;
}

.navbar a i{
    margin-right: 8px;
    color: rgb(255, 255, 255);
    font-size:clamp(10px,3vw,60px);
}

.navbar-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin:2vw;
    padding: 12px;
    border-radius: 50px;
    font-size:clamp(10px,2vw,60px);
}
.header li {
    list-style-type: none;
}


#deschide-sidebar{
    margin-right: 4vw;
    color:rgb(255, 255, 255);
    list-style-type: none;
    font-size:clamp(30px,5vw,50px);
    padding: 10px;
    border: 2px solid;
}

#inchide-sidebar {
    font-size:clamp(30px,5vw,50px);
}

.sidebar {
    padding:20px;
    margin-top: 0;
    list-style-type: none ;
    display: flex;
    position:fixed;
    top:0;
    right:-100%;
    height: 100vh;
    width: 40vw;
    z-index:999;
    background-color: rgba(0, 0, 0, 0.550);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    gap:36px;
    transition: right 500ms linear;
    transition-delay: 120ms;
}

#inchide-sidebar.rotate {
    animation: 500ms invarte alternate;
}

@keyframes invarte {
    100%{
        rotate:360deg;
    }
}

.sidebar.open {
    right: 0; 
}



.sidebar li {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 25px rgb(170, 170, 170);
    border: 1px solid white;
    background-color: rgba(209, 209, 209, 0.433);
    width: calc(100% + 29px);
    height:50px;
}


.sidebar li a {
    color: white;
    text-decoration: none;
    font-size: 24px;

}

.sidebar a i{
    margin-right: 8px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}




@media (max-width:949px) {
    .HideOnMobile{
        display: none;
    }
}

@media (min-width:950px) {
    #deschide-sidebar {
        display: none;
    }
}



@media (min-width:500px) {
    .sidebar li a {
        width: 100%;
        height: 100%;
        text-align: center;
        align-content: center;
    }
}

.main-content {
    transition: filter 450ms linear;
}

.main-content.blur {
    filter: blur(10px);
}

/* aici se termina header-ul */
.sub-body1 {
    overflow-y: hidden;
    height:82vh;
    width: 100%;
    background-image: url(poza-acasa.png);
    background-position: center;
    background-size: cover;
}

.box1 {
    width: 100%;
    height:100%;
    background-color: rgba(60, 60, 60, 0.379);
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlu {
    align-content: center;
    text-align: center;
    height: 80%;
    width: 100%;
    padding: 40px;
    color: white;
    font-weight: normal;
    line-height:80px;
    font-size: clamp(30px,5vw,50px);
}

@media only screen and (max-width: 650px) {
    .titlu {
        text-align: center;
        line-height:46px;
        font-size: 29px;
    }

    .header {
        height: 100px;
    }
    .logo {
        width: 120px;
    }
}




.sub-body2 { 
    display: flex;
    margin-top:clamp(80px, 10vw,90px);
    margin-bottom: clamp(50px, 10vw,90px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:650px) {
    .sub-body2 {
        margin-bottom: 80px;
    }

}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    25% {
        --angle:90deg;
    }
    50% {
        --angle:180deg;
    }
    75% {
        --angle:270deg;
    }
    100% {
        --angle:360deg;
    }
}

.text-best{
    font-size: clamp(15px,6vw,80px);
    color: rgb(255, 255, 255);
    text-align: center;
    pad: 30px;
}

.best-seller {
    position: relative;
    border-radius: 20px;
    background-image: url(imagine-meniuri/crispy-shanghai.png);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width:100%;
    height: 100%;
    color: white;
    font-weight: bold;
    transition: scale ease-in-out 1s;
}

.meniu-mixt {
    font-size: clamp(40px,5vw,120px);
    align-content: center;
    width: 80%;
    height: 50%;
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container-best{
    transition: scale 0.5s ease-in-out;
    position: relative;
    text-decoration: none;
    border-radius: 25px;
    width: 64%;
    height:50vh;
}

.container-best::before {
    content: "Descopera Best Seller-ul Nostru";
    align-content: center;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    translate:-50% -50%;
    width: 100%;
    height: 100%;
    padding: 18px;
    border-radius: 25px;
    animation: 5s spin linear infinite;
    background-image: conic-gradient(from var(--angle),transparent 50%,rgb(13, 255, 0));
}

@media (max-width:600px) {
    .container-best {
        width: 82%;
        height: 30vh;
    }
    .meniu-mixt {
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 32px;
        display: flex;
        align-items: center;
    }

}

.container-best a {
    text-decoration: none;
}


.container-best:hover {
    box-shadow: inset 0 0 100px rgb(174, 174, 174);
    scale: 1.02;
}

.sub-body3 {
    background-color: rgb(69, 209, 38);
    margin-top: 120px;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    margin-bottom: 80px; 
    padding: 18px;
}

@media (max-width:500px) {
    .sub-body3 {
        height: 180px;
    }
}

.zona1 {
    font-size:clamp(50px,8vw,110px);
    color: rgb(255, 255, 255);
    animation: 2.5s apel1 infinite alternate ease-in-out;
}

@keyframes apel1 {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 20deg;
        transform:scale(1.15);
    }
}


@keyframes apel2 {
    0% {
        rotate: 270deg;
    }
    100% {
        rotate: 250deg;
        transform:scale(1.15);
    }
}

.zona2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height:clamp(40px,6vw,60px);
    font-weight: 300;
    font-size: clamp(28px,6vw,60px);
    color: white;
}


.zona2 a:hover{
    text-decoration: underline;
}
.zona3 {
    animation: 2.5s apel2 infinite alternate ease-in-out;
    rotate: 270deg;
    font-size:clamp(50px,7vw,120px);
    color: rgb(255, 255, 255);
}


.sub-body3 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: clamp(34px,6vw,60px);
}

.titlu-galerie {
    font-size:clamp(46px,5vw,80px);
    margin-left: 10px;
    margin-top:clamp(30px,5vw,64px);
    margin-bottom:12px;
}

.sub-body4 {
    display: flex;
    justify-content: center;
    gap:10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.sub-body4 img {
    width:100%;
    height: 100%;
    object-fit: cover;
}
.coloana1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coloana2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coloana3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width:600px) {
    .sub-body4 {
        flex-direction: column;
    }
    .titlu-galerie {
        font-size: 30px;
        text-align: center;
    }
    .sub-body3 {
        gap:2px;
    }
    
}


.sub-body5 {
    padding: 26px;
}


.sub-body5 a {
    border: 2px solid red;
}

.eapps-widget-toolbar-panel-wrapper {

}



.review {
    text-align: center;
    margin-bottom:clamp(40px,6vw,70px);
    font-size: clamp(30px,5vw,60px);
}




/*sectiunea de footer*/

.footer {
    width: 100vw;
    padding-top: 10px;
    height:fit-content;
    background-color: black;
    color: white;
}

.follow{
    font-size: clamp(20px, 5vw,40px);
    margin-left: 15px;
    text-align:left;
    width: fit-content;
}

.icons {
    display: flex;
    gap: 20px;
    justify-content: left;
    margin-top: 10px;
    margin-top: 16px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 0px;
    margin-right: 10px;
}

.footer img {
    width:clamp(40px,5vw,60px);
}

.autor {
    margin-top: 42px;
    font-size:clamp(20px,4vw,30px);
    text-align: center;
    padding-bottom: 10px;
}

